.mars-grid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background: var(--mars);
}

.location {
  flex: 1 0 10%;
  align-self: center;
  text-align: center;
  position: relative;
  font-size: 10px;
  color: #efefef;
}
