.command-centre {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  padding: 25px;
  background-color: #fff;
  align-items: flex-start;
}

.control {
  display: flex;
  flex-wrap: wrap;
  height: 0;
  flex: 1 0 50%;
  justify-content: space-between;
  padding: 5px;
}

.input {
  width: 60%;
  height: 30px;
  border: none;
  background-color: var(--light-grey);
  border-radius: 5px;
}

.title {
  margin: 0 0 5px;
  width: 100%;
  color: var(--mars);
}

.location {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  width: 100%;
}

.error {
  font-size: 14px;
  color: red;
  width: 100%;
  padding-top: 5px;
}

.command-all-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid;
  padding-top: 25px;
  margin-top: 15px;
}

.button,
.command-all-button {
  height: 30px;
  cursor: pointer;
  background-color: var(--mars);
  color: #fff;
  border: none;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.command-all-button {
  height: 40px;
  width: 100%;
}

.command-all-button:hover,
.button:hover {
  background-color: var(--mars-hover);
}
