.command-centre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  margin: 25px auto;
}

.button {
  height: 30px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #666;
  transition: all 0.2s;
}

.input {
  width: 60%;
  height: 30px;
  border: 1px solid #666;
}

.title {
  margin: 0 0 5px;
  width: 100%;
}

.control {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 50%;
  justify-content: space-between;
  align-content: flex-start;
  padding: 5px;
}

.location {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  width: 100%;
}

.error {
  font-size: 14px;
  color: red;
  width: 100%;
  padding-top: 5px;
}

.command-all-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid;
  padding-top: 25px;
  margin-top: 10px;
}

.command-all-button {
  height: 30px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #666;
  transition: all 0.2s;
}

.command-all-button:hover,
.button:hover {
  background: #4ea044;
  color: #fff;
  border: 1px solid #4ea044;
}
