.app {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.wrapper {
  display: flex;
  border: 1px solid var(--mars);
  box-shadow: 0 10px 6px -6px #777;
}
